@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Login facebook</h1>
    <p class="lead">The sample about how to integrated Facebook Login to your website</p>
    <p><a href="javascript:;" class="btn btn-primary btn-lg lbtSignInFacebook">LOGIN FACBOOK</a></p>
</div>

